<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" th:href="@{/css/user/password-change.css}">
    <script type="module" th:src="@{/js/user/password-change.js}"></script>
</head>
<body>

<section layout:fragment="content" class="pw-section">

    <h1>비밀번호 변경</h1>

    <div class="pw-box">
        <label>현재 비밀번호</label>
        <input type="password" id="currentPw">

        <label>새 비밀번호</label>
        <input type="password" id="newPw">

        <label>새 비밀번호 확인</label>
        <input type="password" id="newPw2">

        <button id="pwChangeBtn" class="primary-btn">변경하기</button>
    </div>
</section>

</body>
</html>